<div class="container">
  <br />
  <hr />
  <p>
    <b>Note: </b>
    The following tetris game was brought to You by Bartlomiej Lukaszuk and it
    is based on
    <a href="https://www.npmjs.com/package/ngx-tetris">ngx-tetris</a>
    made by
    <a href="http://chrum.it/en#team"> Chrystian Ruminowicz </a>
  </p>
  <p>
    <b>Note: </b>
  </p>
  <p>
    In order to verify user and obtain high scores info this page connects with:
    <a href="http://tetris.chrum.it/">http://tetris.chrum.it/</a>
  </p>
  <p>
    This page stores player's data in <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">localStorage</a>
  </p>
  <p>If You don't want any of this then leave the page</p>

</div>
